.main-nav{
    margin-bottom: 40px;
}

.my-main{
    /* border: 2px solid red; */
    padding: 8px;
}

.img-container{
    width: 50%;
}

.img-container img{
    /* width: 40px; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

.my-card{
    width: 20rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(223, 219, 219, 0.89);
    border-radius: 5px;
    /* border: 2px solid red; */
}

.title{
    color: black;
}

.type{
    color: blue;
    font-weight: bold;
}

.last-section{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.call{
    background-color: rgba(148, 146, 146, 0.158);
    box-shadow: 2px 2px 2px rgba(240, 235, 235, 0.76);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(134, 130, 130, 0.808);
}
.avail{
    background-color: rgba(148, 146, 146, 0.158);
    box-shadow: 2px 2px 2px rgba(240, 235, 235, 0.76);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(134, 130, 130, 0.808);
    margin-right: 5px;
}

@media only screen and (max-width: 412px){
    .main-nav{
        /* display: none; */
        /* margin: 5px; */
    }

    .my-card{
        /* border: 2px solid yellow; */
        /* width: 50%; */
        /* padding: 0px; */
        /* width: 100%; */
        /* align-items: center; */
    }

    .avail{
        /* border: 2px solid tomato; */
        /* width: 100%; */
        display: none;
    }
    .row{
        width: 100%;
    }

    .title{
        /* font-size: 10px; */
    }
}


