.ambulance{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.ambulance-last{
    /* border: 2px solid red; */
    width: 77%;
    padding: 20px;
}

.ambulance-h2{
    /* margin-bottom: 15px; */
    margin-top: 10px;
    padding: 0px;
    color: blue;
    /* border: 2px solid blue; */
}