.ambulance{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.ambulance-last{
    width: 77%;
    padding: 20px;
}

.ambulance-h2{
    margin-top: 10px;
    padding: 0px;
    color: blue;
}