.about{
    margin-top: 40px;
}

.about h1{
    padding: 20px;
    color: #896436;
    font-weight: bolder;
    border-bottom: 4px solid #896436;
}


@media only screen and (max-width: 412px){

    .row{
        width: 100%;
    }
}

