.home{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.sidebar{
    width: 23%;
    padding: 20px;
}

.main{
    width: 77%;
    padding: 20px;
}

@media only screen and (max-width: 688px){
    .sidebar{
        display: none;
    }

    .main{
        width:100%;
        padding: 0px;
    }
}
