/* header css  */
.header-container{
    /* padding-left: 50px;
    padding-right: 50px;
    background-color: blue; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section .text-deco{
    text-decoration: none;
}

.logo-section h2{
    color: white;
    background-color: blue;
}

.logo-img{
    width: 150px;
    height: 100px;
}

ul{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

ul li{
    list-style-type: none;
    padding: 10px;
    margin-left: 25px;
    cursor: pointer;
}

ul li .cart-icon{
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    color: white;
}

ul li a.signup{
    padding: 6px;
    border-radius: 8px;
    color: white;
    border: none;
}

ul li a.signup:hover{
    color: white;
}

.logout{
    color: white;
}

.logout:hover{
    color: white;
}

@media only screen and (max-width: 688px){
    .nav-section{
        display: none;
        flex-direction: column;
    }
}